.music{
    padding: 6rem 1rem;
    width: 100%;
    background-color: #000;
}

/* ... Estilos previos ... */

.pick-a-plan {
  text-align: center;
  margin-top: -2rem;
  margin-bottom: 4rem;
  font-size: 2rem;
  color: #fff;
}

.card-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.card-container .card {
    border: 1px solid red;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: #222; /* Añadido un fondo para las cartas */
    padding: 1.5rem 1rem; /* Ajuste de padding */
  }

  .card-logo {
    margin-bottom: 1rem; /* Espacio entre logo y título */
  }

  .card-logo img {
    max-width: 30%;
    height: auto;
  }

  .card {
    text-align: center;
  }

.card:hover {
    background-color: #444; /* Color de fondo en hover */
    cursor: pointer;
  }



.card h3{
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 600;
    padding: 1rem;
}

.card .bar {
    border-bottom: 1px solid #fff;
    width: 20%;
    margin: 1.5rem auto;
    display: block;
  }

.card .btc{
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
}

.music p{
    color: #fff;
    padding: 1rem 0;
    font-size: 1rem;
}

.card .btn{
    display: block;
    width: 80%;
    margin: 2rem auto;
}


@media screen and (max-width:768px){
    .card-container{
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;

    }

}
