.header{
  position: fixed;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid rgb(255, 255, 255);
  backdrop-filter: blur(5px);
  width: 100%;
  padding: 1rem;
  z-index:10;
}

.header-bg{
  background-color: rgba(0, 0, 0, .85);
  transition: .5s;
}

.nav-menu{
 display: flex;
}

.nav-menu li{
  padding: 0 1rem;
  
}

.nav-menu li:hover{
  border-bottom: 1px solid red;
  transition: cubic-bezier(0.86, 0, 0.07, 1)s;
}

.nav-menu a{
  font-size: 1.2rem;
  font-weight: 500;
}

/* .m2{
  max-width: 5rem;
  transition: none;
  transform: scale(none);

} */

.hambur{
  display: none;
  cursor: pointer;
}

.piDo, .aiFill{
  color: white;
}

.piDo:hover, .aiFill:hover{
  color: rgb(172, 162, 176);
}

.con-btn-1{
  margin-right: 1rem;
}

/* .popularPlaces{
  display: inline-block;
  position: absolute;
  bottom: -35rem;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative; 
}

.h3{
  color: white;
  padding: 1rem 0;
  position: relative; 
}

.h3::after{
  content:'';
  width: 83%;
  height: 2px;
  background-color: aliceblue;
  right: 0;
  bottom: 50%;
  position: absolute;
}

.images{
  justify-content: center;
  align-items: center;
}

.i6{
  height: 100px;
  width: 210px;
  object-fit: cover;
  border-radius: 10px;
} */


@media screen and (max-width: 768px){
  .hambur{
    display: block;
  }

  .nav-menu{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    text-align: center;
    width: 100%;
    height: 100vh;
    transition: .3s;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav-menu.active{
    left: 0;
  }

  .nav-menu li{
    padding: 1rem 0; 
  }

  .nav-menu a{
    font-size: 1.2rem;
  }

  .con-btn-1{
    margin-left: 19rem;
  }

}





































