
body{
  
  background: #000000;
}






/* .Carousel{
 margin: 5%;
  position: absolute;
}

-------------------------------

.content-contennedor{
  background-color: white;
  color: #121212;
}   */
